<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/account.css" />
    <title>Cuenta de usuario</title>
  </head>
  <body>
    <%- include ("template/navbar") %>
    <main class="main-container">
      <div class="card">
        <div class="card-content">
          <% if (Puntos < 100) {%>
          <h1>Nivel 1</h1>
          <%}%> <% if (Puntos > 100 && Puntos < 300) {%>
          <h1>Nivel 2</h1>
          <%}%> <% if (Puntos > 300 && Puntos < 600) {%>
          <h1>Nivel 3</h1>
          <%}%> <% if (Puntos > 600 && Puntos < 1200) {%>
          <h1>Nivel 4</h1>
          <%}%>
          <div class="progress"><div class="progress-done"></div></div>
          <p><%= Correo%></p>
        </div>
      </div>
    </main>
  </body>
</html>
