<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Main page</title>
  </head>
  <body>
    <main class="main">
      <div class="login-container">
        <form class="login-content" action="/auth" method="POST">
          <div class="login-header">
            <h1>Inicia sesión</h1>
          </div>
          <div class="form-group">
            <label for="">Correo</label>
            <input type="email" name="correo" />
          </div>
          <div class="form-group">
            <label for="">Contraseña</label>
            <input type="password" name="contraseña" />
          </div>
          <% if (error) {%>
          <p class="error"><%= error %></p>
          <% } %>
          <div class="form-group">
            <button class="btnIniciarSesion" type="submit">
              Iniciar sesión
            </button>
          </div>
          <div class="form-group">
            <p class="noTienesCuenta">
              No tienes cuenta?
              <a href="register" class="accountState">Regístrate aquí</a>
            </p>
          </div>
        </form>
      </div>
      <div class="login-image-container">
        <img
          src="https://images.unsplash.com/photo-1608447714925-599deeb5a682?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"
          alt=""
          class="login-image"
        />
      </div>
    </main>
  </body>
</html>
