<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Main page</title>
  </head>
  <body>
    <main class="main">
      <div class="login-container">
        <form class="login-content" action="/register" method="POST">
          <div class="login-header">
            <h1>Regístrate</h1>
          </div>
          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" name="nombre" />
          </div>
          <div class="form-group">
            <label for="">Apellido Paterno</label>
            <input type="text" name="apellido_paterno" />
          </div>
          <div class="form-group">
            <label for="">Apellido Materno</label>
            <input type="text" name="apellido_materno" />
          </div>
          <div class="form-group">
            <label for="">Correo</label>
            <input type="email" name="correo" />
          </div>
          <div class="form-group">
            <label for="">Contraseña</label>
            <input type="password" name="contraseña" />
          </div>
          <div class="form-group">
            <button class="btnIniciarSesion" type="submit">Regístrate</button>
          </div>
          <div class="form-group">
            <button class="btnCancelar" type="submit">
              <a href="/">Cancelar</a>
            </button>
          </div>
          <div class="form-group account">
            <p class="noTienesCuenta">
              Ya tienes cuenta?
              <a href="login" class="accountState">Inicia sesión</a>
            </p>
          </div>
        </form>
      </div>
      <div class="login-image-container">
        <img
          src="https://images.unsplash.com/photo-1516663713099-37eb6d60c825?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt=""
          class="login-image"
        />
      </div>
    </main>
  </body>
</html>
