* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --red-focused: #ff4e4e;
  --mint: #1bed83;
}

/* Main Dashboard */
.main-dashboard {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo-container {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-image_container {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image_container img {
  width: 100%;
  object-fit: cover;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  overflow-x: scroll;
  padding: 0px 20px;
  gap: 20px;
}

.focused {
  background-color: var(--red-focused);
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: white;
  font-weight: bold;
}

.link {
  color: black;
  text-decoration: none;
}

.link-focused {
  color: white;
  text-decoration: none;
}

.btnEditar-container,
.btnEliminar-container {
  padding: 10px 5px;
}

.btnEditar,
.btnEliminar {
  width: 70px;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btnEditar {
  background-color: lightgreen;
}
.btnEliminar {
  background-color: var(--red-focused);
}

.price,
.weight {
  padding: 0px 10px;
}

.bxs-plus-circle {
  font-size: 32px;
  color: rgb(69, 69, 252);
  cursor: pointer;
}

.productUrl {
  width: 100px;
  overflow: hidden;
}

.table-cell.descriptionProduct {
  overflow: hidden;
}

.btnCreate-container {
  position: relative;
}

.btnCreate-container a {
  position: absolute;
  left: 20px;
  top: -30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 60px;
}

.product-link {
  text-decoration: none;
  color: black;
}

.product-send {
  color: var(--mint);
}

.product-container {
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
}

.product-card {
  margin: 0px 60px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 110px;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.product-name {
  font-weight: 500;
}

.image {
  width: 100px;
}

.buy-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnComprar,
.btnEliminar {
  width: 70px;
  height: 41px;
  border: none;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btnComprar {
  background-color: lightgreen;
}
.btnEliminar {
  background-color: var(--red-focused);
}

.hidden {
  display: none;
}

.alone {
  font-size: 3rem;
  color: rgba(128, 128, 128, 0.366);
}

.alone-container {
  padding: 0px 60px;
}
