* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --table-border: rgb(228, 228, 228);
  --red-focused: #ff4e4e;
  --focused: #ffffff;
}

/* Main Dashboard */
.main-dashboard {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-image_container {
  width: 100px;
  height: 30px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image_container img {
  width: 100%;
  object-fit: cover;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 300px;
  overflow-x: scroll;
  padding: 0px 20px;
  gap: 20px;
}

.focused {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
  font-weight: bold;
}

.link-focused {
  color: white;
  text-decoration: none;
}
.link {
  color: black;
  text-decoration: none;
}

.link.link-focused {
  color: black;
}

/* Table styling */

.table-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
}

.table-content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
  border: 1px solid var(--table-border);
}

.btnEditar-container,
.btnEliminar-container {
  padding: 10px 5px;
}

.btnEditar,
.btnEliminar {
  width: 70px;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btnEditar {
  background-color: lightgreen;
}
.btnEliminar {
  background-color: var(--red-focused);
}

.price,
.weight {
  padding: 0px 10px;
}

/* .descriptionProduct {
  text-align: left;
  max-height: 80px;
  padding: 0px 10px;
  overflow: hidden;
  width: 100px;
  height: 30px;
} */

/* BoxIcon Config */

.bxs-plus-circle {
  font-size: 40px;
  color: black;
  cursor: pointer;
}

.productUrl {
  width: 100px;
  overflow: hidden;
}

thead {
  border: 1px solid var(--table-border);
}

.thead-tr {
  position: sticky;
  background-color: white;
  top: -0.5px;
  border: 1px solid var(--table-border);
}

th {
  padding: 0px 5px;
  padding: 15px;

  border: 1px solid var(--table-border);
}
td {
  max-width: 300px;
  max-height: 80px;
  padding: 15px;
  /* overflow: hidden; */
}

tr {
  white-space: nowrap;
}

.tbody {
  height: 100px;
}
table {
  border: 1px solid var(--table-border);
  border-collapse: collapse;
}

.table-cell {
  border-right: 1px solid var(--table-border);
  border-left: 1px solid var(--table-border);
  /* height: 40px; */
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.table-cell.descriptionProduct {
  overflow: hidden;
}

.fechaInput {
  border: transparent;
  border-bottom: 1px solid lightgray;
}

.fechaInput:focus {
  outline: none;
  border-bottom: 1px solid lightgray;
}

.btnCapturar {
  background-color: black;
  color: white;
  border: transparent;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.sellForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.productsCuantity {
  padding: 0px 10px;
}

.searchProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.idProduct-container {
  overflow-x: scroll;
  margin-left: 200px;
}

.filterProduct td {
  overflow: hidden;
}

.id_producto {
  border: transparent;
  border-bottom: 1px solid lightgray;
}

.id_producto:focus {
  outline: none;
  border-bottom: 1px solid lightgray;
}
