* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid lightgreen; */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
/* AQUI VA LOGIN CONTAINER */

/* AQUI VA LOGIN CONTAINER */

.login-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-header h1 {
  font-size: 2.7rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: gray;
}

.form-group input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 3px 5px;
}

.form-group input:focus {
  outline: none;
}

.error {
  color: red;
}

.btnIniciarSesion {
  padding: 15px 20px;
  border: transparent;
  color: white;
  background-color: black;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.btnIniciarSesion:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btnCancelar {
  padding: 15px 20px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.btnCancelar a {
  color: black;
  text-decoration: none;
}

.accountState {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.login-container {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn 1s ease-in-out;
  /* transform: translateX(500px); */
}

@keyframes slideIn {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

.login-image-container {
  width: 65%;
  height: 100%;
  animation: slideInImage 1s ease-in-out;
}

@keyframes slideInImage {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.login-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .login-image-container {
    display: none;
  }

  .login-container {
    width: 100%;
  }

  .login-content {
    max-width: 600px;
    min-width: 300px;
  }
}
