* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --side-padding: 60px;
}

.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--side-padding);
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.navbar-logo {
  font-size: 12px;
  width: 100px;
  padding: 0px 5px;
  color: white;
}

.logo-link {
  color: transparent;
  text-decoration: none;
}

.logo {
  width: 100%;
}

.navbar-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.actual-section {
  padding: 20px var(--side-padding);
  font-weight: 400px;
}
