<head>
  <link rel="stylesheet" href="css/footer.css" />
</head>

<div class="footer">
  <div class="footer-col1">
    <div class="col1-content">
      <button class="btnCerrarSesion">
        <a href="/logout">Cerrar Sesión</a>
      </button>
    </div>
  </div>
  <div class="footer-col2"></div>
  <div class="footer-col3"></div>
</div>
