<head>
  <link rel="stylesheet" href="/css/navbar.css" />
</head>
<nav class="navbar">
  <div class="navbar-logo">
    <a href="/" class="logo-link">
      <img src="/resources/logo-definitivo.png" alt="logo" class="logo" />
    </a>
  </div>
  <div class="navbar-account">
    <a href="/dashboard">
      <img src="/resources/ProfileIcon.png" alt="ProfileIcon" />
    </a>
    <!-- <i class="bx bxs-heart hidden"></i> -->
    <a href="/carrito">
      <img src="/resources/BagIcon.png" alt="BagIcon" />
    </a>
  </div>
</nav>
