<nav class="navbar">
  <div class="navbar-logo"><h1>Men's Club</h1></div>
  <div class="navbar-account">
    <img src="./resources/ProfileIcon.png" alt="ProfileIcon" />
    <img class="heart-before" src="./resources/LikeIcon.png" alt="LikeIcon" />
    <!-- <i class="bx bxs-heart hidden"></i> -->
    <img src="./resources/BagIcon.png" alt="BagIcon" />
  </div>
</nav>
