<head>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a href="/" class="logo-link">
        <img src="/resources/logo-definitivo.png" alt="logo" class="logo" />
      </a>
    </div>
    <divo class="navbar-account">
      <a href="/logout">
        <i class="bx bx-log-out"></i>
      </a>
      <a href="/dashboard">
        <i class="bx bx-objects-vertical-bottom"></i>
      </a>
      <a href="/carrito">
        <i class="bx bx-cart"></i>
      </a>
    </divo>
  </div>
</nav>
